datajud.api.url=https://api-publica.datajud.cnj.jus.br/api_publica_tjrs/_search
datajud.api.key=cDZHYzlZa0JadVREZDJCendQbXY6SkJlTzNjLV9TRENyQk1RdnFKZGRQdw==
datajud.db.url=jdbc:postgresql://[HOST]/neondb?sslmode=require&channel_binding=require
datajud.db.user=neondb_owner
datajud.db.password=[PASSWORD]
datajud.db.table=processos_datajud
